{% extends 'base.html.twig' %}

{% block title %}commande{% endblock %}

{% block body %}

<tbody>

        {% for laCommande in lesCommandes %}
{#<a href=" {{path('commande_ajout')}} " class="btn btn-success">Cliquer ici pour commander !</a>#}

<h5 class="text-center pt-2 ">Votre commande porte le numéro : {{laCommande.id}} et est en préparation !</h5>
<center>
<div style="float: center">
        <img src={{asset("images/burgers/spongebob.gif")}} width="40%">
</div>
</center>

        {% endfor %}
</tbody>

{% endblock %}
{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}
