{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}
{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block body %}
<h1 class="text-center pt-2 ">
{% if (app.request.attributes.get('_route')=="admin_menu_ajout") %}
  Ajout
{% else %}
  Choisissez le(s)
{% endif %}
menu(s)</h1>

{{form_start(formCommande,{'attr':{'novalidate':'novalidate'}})}}
{{form_row(formCommande.menus)}}

<div class="row">
  <div class="col"><a href="{{path('admin_commandes')}} " class="btn btn-warning btn-block">Annuler la commande</a></div>
  <div class="col"><input type="submit", class="btn btn-success btn-block" value=
  {% if (app.request.attributes.get('_route')=="admin_menu_ajout") %}
  "Ajouter le menu"
  {% else %}
  "Payer la commande"
  {% endif %}></div>
</div>

{{form_end(formCommande)}}
{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script> 
$(document).ready(function() {
  $('.selectCommandes').select2();
});
</script>
{% endblock %}
